In [1]:
import pandas as pd

In [2]:
directory = './clean-data'

bios = pd.read_csv(f"{directory}/bios.csv")
results = pd.read_csv(f"{directory}/results.csv")
nocs = pd.read_csv(f"{directory}/noc_regions.csv")
pops = pd.read_csv(f"{directory}/populations.csv")

## Exploratory Data Analysis

In [3]:
pops.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0
1,Africa Eastern and Southern,AFE,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0
2,Afghanistan,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0
3,Africa Western and Central,AFW,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0
4,Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0

### How many medals has each country won since 1896?

In [9]:
results.head()

,year,type,Discipline,Event,As,athlete_id,NOC,Team,place,tied,Medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN

In [12]:
results.Medal.unique()

array([nan, 'Bronze', 'Silver', 'Gold'], dtype=object)

In [7]:
nocs.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [14]:
# We need to avoid double counting team sports and then sum by NOC


# Let's start simple and see if that works
medals = results[(results['Medal'].notna()) & (~results['Event'].str.endswith('(YOG)'))]
medals_filtered = medals.drop_duplicates(['year','type','Discipline','NOC','Event','Medal'])

In [15]:
results.query('year == 2010 and NOC == "MEX"')

,year,type,Discipline,Event,As,athlete_id,NOC,Team,place,tied,Medal
183084,2010.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Men (Olympic)",Hubertus von Hohenlohe,85893,MEX,NaN,78.0,False,NaN
183085,2010.0,Winter,Alpine Skiing (Skiing),"Slalom, Men (Olympic)",Hubertus von Hohenlohe,85893,MEX,NaN,46.0,False,NaN
241091,2010.0,Summer,Archery,"Individual, Girls (YOG)",Mariana Avitia,111486,MEX,NaN,4.0,False,NaN
241092,2010.0,Summer,Archery,"Team, Mixed Youth (YOG)",Mariana Avitia,111486,MEX,Joni Hautamäki,17.0,True,NaN
264661,2010.0,Summer,Diving (Aquatics),"Springboard, Boys (YOG)",Iván García,123304,MEX,NaN,11.0,False,NaN
264662,2010.0,Summer,Diving (Aquatics),"Platform, Boys (YOG)",Iván García,123304,MEX,NaN,3.0,False,Bronze
264891,2010.0,Summer,Cycling Road (Cycling),"Combined Team, Mixed Youth (YOG)",Ingrid Drexel,123458,MEX,Mexico,6.0,False,NaN
265915,2010.0,Summer,Modern Pentathlon,"Individual, Girls (YOG)",Tamara Vega,124042,MEX,NaN,10.0,False,NaN
265916,2010.0,Summer,Modern Pentathlon,"Relay, Mixed Youth (YOG)",Tamara Vega,124042,MEX,Eric Kruger,5.0,False,NaN
286401,2010.0,Summer,Athletics,"Hammer Throw, Boys (YOG)",Diego del Real,135110,MEX,NaN,9.0,False,NaN

In [29]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308408 entries, 0 to 308407
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        305807 non-null  float64
 1   type        305807 non-null  object
 2   Discipline  308407 non-null  object
 3   Event       308408 non-null  object
 4   As          308408 non-null  object
 5   athlete_id  308408 non-null  int64
 6   NOC         308407 non-null  object
 7   Team        121714 non-null  object
 8   place       283193 non-null  float64
 9   tied        308408 non-null  bool
 10  Medal       44139 non-null   object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 23.8+ MB

In [16]:
medals[(medals['year']==2010) & (medals['NOC']=='MEX') ]

Empty DataFrame
Columns: [year, type, Discipline, Event, As, athlete_id, NOC, Team, place, tied, Medal]
Index: []

In [17]:
medals_filtered.groupby(['NOC'])['Medal'].value_counts().loc['ESP']

Medal
Silver    73
Bronze    52
Gold      49
Name: count, dtype: int64

In [18]:
1191+962+844

2975/2997

0.9926593259926594

In [20]:
medals_filtered.groupby(['NOC','year'])['Medal'].value_counts().loc['MEX']

year    Medal
1900.0  Bronze    1
1932.0  Silver    2
1936.0  Bronze    3
1948.0  Bronze    3
        Gold      2
        Silver    1
1952.0  Silver    1
1956.0  Bronze    1
        Gold      1
1960.0  Bronze    1
1964.0  Bronze    1
1968.0  Bronze    3
        Gold      3
        Silver    3
1972.0  Silver    1
1976.0  Bronze    1
        Gold      1
1980.0  Bronze    3
        Silver    1
1984.0  Silver    3
        Gold      2
        Bronze    1
1988.0  Bronze    2
1992.0  Silver    1
1996.0  Bronze    1
2000.0  Bronze    3
        Silver    2
        Gold      1
2004.0  Silver    3
        Bronze    1
2008.0  Bronze    2
        Gold      2
2012.0  Bronze    4
        Silver    3
        Gold      1
2016.0  Silver    3
        Bronze    2
2020.0  Bronze    3
Name: count, dtype: int64

### Can we visualize where each athlete was born on a map?

In [21]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [22]:
len(bios)

145500

In [23]:
from geopy.geocoders import Nominatim
import time
cache = {}

def get_coordinates(city, region, country):
    geolocator = Nominatim(user_agent="my_app")
    key = f"{city}, {region}"
    print(f"Processing {city}, {region}")
    if key in cache:
        return cache[key]

    location = geolocator.geocode(key)

    if location:
        latitude = location.latitude
        longitude = location.longitude
        cache[key] = (latitude,longitude)
        return latitude, longitude
    else:
        print("No coordinates found")
        return None

bios_locs = bios.copy()

bios_locs['lat'] = None
bios_locs['long'] = None

for index, row in bios.iterrows():
    coordinates = get_coordinates(row['born_city'],row['born_region'], row['born_country'])
    if coordinates:
        lat, long = coordinates
        print(lat,long)
        bios_locs.loc[index,'lat'] = lat
        bios_locs.loc[index,'long'] = long

    if index % 10000 == 0:
        bios_locs.to_csv(f'updated_bios_{index}.csv', index=False)
        break

Processing Bordeaux, Gironde
44.841225 -0.5800364

In [27]:
nocs.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [28]:
# Example usage
city = "Madrid"
region = "Espana"
country = ""
coordinates = get_coordinates(city, region, country)
if coordinates:
    latitude, longitude = coordinates
    print(f"The coordinates of {city}, {region}, {country} are: Latitude: {latitude}, Longitude: {longitude}")
else:
    print("Coordinates not found for the specified location.")

Processing Madrid, Espana
The coordinates of Madrid, Espana,  are: Latitude: 40.4167047, Longitude: -3.7035825